.remark-slide { 
   page-break-before: always;
   width:27cm !important;
   height:16cm !important;
   margin: -2cm -2cm 0 0!important;
   padding:0 !important;
   font-size: 1em
}
.inverse, .summary, .exam {
	background-color: #ffffff !important;
	color: #000000 !important;
}
